
<nav class="navbar navbar-expand-lg navbar-dark shadow-5-strong">

   <img src="assets/ww.jpg" >

    <div class="collapse navbar-collapse" >

          <ul class="navbar-nav ml-auto" >
            <a class="nav-link dropdown-toggle" href="#" >
              <font color="blue" size ="4px" routerLink="/login" > <b >Contact</b></font>
            </a>
            <a class="nav-link dropdown-toggle" href="#" >
              <font color="blue" size ="4px" > <b >Connexion</b></font>
            </a>
          </ul>
    </div>
</nav>


