div[class="w3-sidebar w3-bar-block w3-collapse w3-card w3-animate-left"]
{
  left: 20px;
  top: 80px;
  line-height: 50%;
  background: #d5d5f7;
  }

div [class="container"]{

  position: absolute;
  top: 13%;
  left: 18%;
  width: 1000px;
  }

  button
  {
      display: block;
      position: relative;
      margin-left: auto;
      margin-right: auto;

  }

  div [class="input-group"]{
    position: absolute;
    top: 4%;
    left: 66%;
  }

table{
  position: relative;
  padding: -100px;
  background: #ffffff;

}

tr {
    border-bottom: 1px solid #ddd;
  }

th,p{
background: #d5d5f7;

}
