
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">

<div class="site-blocks-cover" style="background-image: url('assets/hayfa1.jpg');" >
<app-navbar1></app-navbar1>
<label>_________________________________________________________________________________________________________________________________________</label>
<div class="w3-sidebar w3-bar-block w3-collapse w3-card w3-animate-left" >
  <br>
  <br>
  <a  class="w3-bar-item w3-button" routerLink="/alltickets">Tous les Tickets</a>
    <label>______________________________</label>
    <label>______________________________</label>
    <br>
    <br>
    <a href="#" class="w3-bar-item w3-button" routerLink="/get-ticket">Tickets reçus</a>
    <br>
    <a href="#" class="w3-bar-item w3-button" routerLink="/sent-ticket">Tickets envoyés</a>
    <br>
    <label>______________________________</label>
    <label>______________________________</label>
    <br>
    <br>
    <a href="#" class="w3-bar-item w3-button" routerLink="/pending-ticket">Tickets en attente </a>
    <br>
    <a href="#" class="w3-bar-item w3-button" routerLink="/progress-ticket">Tickets en cours </a>
    <br>
    <a href="#" class="w3-bar-item w3-button" routerLink="/test-ticket">Tickets en test </a>
    <br>
    <label>______________________________</label>
    <label>______________________________</label>
    <br>
    <br>
    <a href="#" class="w3-bar-item w3-button" routerLink="/notaffec-ticket">Tickets non affectés</a>
    <br>
    <a href="#" class="w3-bar-item w3-button" routerLink="/resolved-ticket"> Tickets Supprimés</a>
  </div>

<div class="container">
  <div class="card shadow mb-4">
  <div class="card-body">
   <h3><font color="blue" > Nouveau Ticket</font> </h3>
     <form >
  <table class="table table-striped" border="2">
   <tr>
   <th> Titre</th>
    <td><input type="text" [(ngModel)]= "NewTicket.title"  name="title" class="form-control" > </td>
  </tr>
    <tr>
     <th> Priorité</th>
      <td><input type="text"  [(ngModel)]= "NewTicket.periorite" name="periorite" class="form-control"> </td>
    </tr>
    <tr>
      <th> Attribué à </th>
      <!-- <td><input type="text" [(ngModel)]= "NewTicket.attributedTo"  name="attributedTo" class="form-control"> </td>-->
      <p><select (click)="getAllIdTicket()" [(ngModel)]= "NewTicket.attributedTo" name ="attributedTo" lass="form-control" >
        <option> ----------------------------------------- </option>
        <option  *ngFor="let item of IdList" [ngValue]="item"> {{item}}</option>

      </select>  </p>
     </tr>
     <tr>
      <th> Status </th>
     <!-- <td> <input type="text" [(ngModel)]= "NewTicket.status" name="Status" class="form-control"> </td> -->
    <p><select  [(ngModel)]= "NewTicket.status" name ="status" lass="form-control" >
      <option> ----------------------------------------- </option>
       <option> pending </option>
       <option> in progress</option>
       <option>  in test</option>
       <option> resolved </option>
   </select>  </p>
     </tr>

     <tr>
      <th> Description </th>
       <td><input type="text" [(ngModel)]= "NewTicket.description"  name="description" class="form-control"> </td>
     </tr>
     <tr>
      <th> Date Creation </th>
       <td><input type="date"  [(ngModel)]= "NewTicket.dtCreate" name="dtCreate" class="form-control"> </td>
     </tr>
     <tr>
      <th> Date Modif </th>
       <td><input type="date"  [(ngModel)]= "NewTicket.dtModif" name="dtModif" class="form-control"> </td>
     </tr>
    </table>
    <button  type="submit"  (click)="addTicket()" class="btn btn-outline-primary"  > Ajouter</button>
      </form>
  </div>
  </div>
</div>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>

</div>



