
<html>
  <head>
  <title>Gestion des Tickets</title>
  </head>
 <body>
  <div class="site-blocks-cover" style="background-image: url('assets/avion.jpg');">
    <app-navbar></app-navbar>
    <div class="container">
      <div class="row">
        <div class="col-lg-7 mx-auto order-lg-2 align-self-center">
          <div class="site-block-cover-content text-center">
              <font color="white" size="15">welcome</font>
            <router-outlet></router-outlet>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
          </div>
        </div>
      </div>
    </div>
  </div>
 </body>
</html>




