

div[class="w3-sidebar w3-bar-block w3-collapse w3-card w3-animate-left"]{

  left: 20px;
  top: 80px;
  line-height: 50%;
  background: #d5d5f7;
  }

  button
  {
      display: block;
      position: relative;
      margin-left: auto;
      margin-right: auto;

  }
  p {
    position: relative;
    left: 25%;
    font-family: Impact, sans-serif;
    font-size: 45px;
    letter-spacing: 2px;
    background: linear-gradient(90deg, #ba90ee, rgb(58, 22, 142), #000);
    background-repeat: no-repeat;
    background-size: 80%;
    animation: animate 5s infinite;
    -webkit-background-clip: text;
    -webkit-text-fill-color: rgba(255, 255, 255, 0);
  }
  @keyframes animate {
    0% {
      background-position: -450%;
    }
    100% {
      background-position: 150%;
    }
  }

