
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">

<div class="site-blocks-cover" style="background-image: url('assets/hayfa1.jpg');" >
  <app-navbar> </app-navbar>
  <label>__________________________________________________________________________________________________________________________________________</label>
<div class="w3-sidebar w3-bar-block w3-collapse w3-card w3-animate-left" >
<br>
<br>
<button  class="btn btn-outline-primary" routerLink="/add-ticket" > + New Ticket</button>
  <br>
  <br>
  <a href="#" class="w3-bar-item w3-button" routerLink="/alltickets">All Tickets</a>

  <label>______________________________</label>
  <a href="#" class="w3-bar-item w3-button">Unsigned Tickets</a>
  <br>
  <br>
  <a href="#" class="w3-bar-item w3-button">My Open Tickets</a>
  <label>______________________________</label>
  <label>______________________________</label>
  <br>
  <a href="#" class="w3-bar-item w3-button">Link 3</a>
</div>


<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>

</div>


