
 div [class="card shadow mb-4"]{

  position: absolute;
  top: 10%;
  left: 30%;
  width: 450px;
  height: 500px;
  }

  button[type=submit]
  {
      display: block;
      position: relative;
      margin-left: auto;
      margin-right: auto;
      color:  rgb(90, 138, 201);
      position: absolute;
      left: 43%;
      top: 92%;

  }

select {
  position: absolute;
  left: 40%;
  top: 44%;
  height: 33px;;
  background: #d5d5f7;
}

input{
    background: #d5d5f7;
}

/*table{
  position: absolute;
  left: 30%;
  top: 15%;
  width:  500px;
  height: -50px;
}*/


