
<div class="container">
  <div class="card shadow mb-4">
  <div class="card-body">
  <form >
  <table class="table table-striped" border="2">
   <tr>
   <th> Titre</th>
    <td><input type="text" [(ngModel)]= "spectick.title"  name="title" class="form-control" > </td>
  </tr>
    <tr>
     <th> Priorité</th>
      <td><input type="text" [(ngModel)]= "spectick.periorite"  name="periorite" class="form-control"> </td>
    </tr>
    <tr>
      <th> Attribué à </th>
       <!--<td><input type="text" [(ngModel)]= "spectick.attributedTo"   name="attributedTo" class="form-control"> </td> -->
       <p><select (click)="getAllIdTicket()" [(ngModel)]= "spectick.attributedTo" name ="attributedTo" lass="form-control" >
        <option> ------------------------------- </option>
        <option  *ngFor="let item of IdList" [ngValue]="item"> {{item}}</option>

      </select>  </p>
      </tr>
     <tr>
      <th> Status </th>
      <!-- <td> <input type="text" [(ngModel)]= "spectick.status" name="Status" class="form-control"> </td> -->
      <p><select  [(ngModel)]= "spectick.status" name ="status" lass="form-control" >
        <option> ------------------------------- </option>
         <option> pending </option>
         <option> in progress</option>
         <option>  in test</option>
         <option> resolved </option>

     </select>  </p>
     </tr>
     <tr>
      <th> Description </th>
       <td><input type="text"  [(ngModel)]= "spectick.description"  name="description" class="form-control"> </td>
     </tr>
     <tr>
      <th> Date Creation </th>
       <td><input type="date" [ngModel]= "spectick.dtCreate | date: 'yyyy-MM-dd'"
        (ngModelChange)=" spectick.dtCreate= $event"
        name="dtCreate" class="form-control"> </td>
     </tr>
     <tr>
      <th> Date Modif </th>
      <td><input type="date" [ngModel]= "spectick.dtModif | date: 'yyyy-MM-dd'"
        (ngModelChange)=" spectick.dtModif= $event"
        name="dtCreate" class="form-control"> </td>
     </tr>
    </table>
    <button  type="submit" class="btn btn-outline-primary"  (click)="modifticket()" > Modifier</button>
      </form>
</div>
  </div>
</div>

